.main button {
    margin-top: 10px;
}

.tic-tac-toe{
    margin: 0 auto;
}

.tic-tac-toe td{
    width: 60px;
    height: 60px;
    border: solid rgb(221, 221, 221) 1.5px;
    margin: 0 auto;
}

.tic-tac-toe td:hover{
    background-color: rgb(92, 184, 92);
}

.tic-tac-toe td:active{
    background-color: rgb(12, 100, 180);
}

.tic-tac-toe .win{
    background-color: rgb(92, 184, 92);
}

.tic-tac-toe .reset{
    cursor: pointer;
}