<div class="container text-center main">
    <div class="row">
        <h1>Test menu</h1>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success col-sm-6 col-sm-offset-3" ui-sref="firstExample">Example 1</button>
    </div>
</div>
