<button type="button" class="btn col-sm-1" ui-sref="main">Home</button>
<div class="container text-center" ng-controller="firstExampleCtrl">

    <div class="page-header">
        <h1>First Example</h1>
    </div>

    <div class="row">
        <tic-tac-toe></tic-tac-toe>

    </div>

</div>

