<table class="tic-tac-toe">
    <tr>
        <th>Current move:</th>
        <th>{{move}}</th>
        <th class="reset"  ng-click="reset()">Reset</th>
    </tr>
    <tr ng-repeat="stateRow in gameState track by $index">
        <td ng-class="stateClass[$parent.$index][$index]" ng-repeat="state in stateRow track by $index"
            ng-click="moveAction([$parent.$index, $index])">{{gameState[$parent.$index][$index]}}</td>
    </tr>
</table>